{% extends "base.jinja2" %}
{% block content %}

   <div class="jumbotron jumbotron-fluid" style="background-color: #fff; margin-bottom: 0;">
      <h1 class="display-4">About this site</h1>
      <p class="lead">This is a companion to the site <a href="https://metacurate.io">metacurate.io</a>.</p>
    </div>

{% endblock %}