{% extends "base.jinja2" %}
{% block content %}

   <div class="jumbotron jumbotron-fluid" style="background-color: #fff; margin-bottom: 0;">
      <h1 class="display-4">About this site</h1>

      <p class="lead text-secondary">The metacurate lexicon, and the accompanying API, are the results of an
      investigation into the feasibility to deploy a service that uses a reasonably large vector model to heroku.</p>

      <p>Coming features on <a href="https://metacurate.io">metacurate.io</a> will require access to a
      lexicon of semantically similar multi-word terms, as well as the appropriate text pre-processing utilities.
      Since metacurate.io is hosted on <a href="https://www.heroku.com/">heroku</a>, I wanted to
      find out whether the required semantic lexicon functionality can be deployed to heroku without violating
      their application size constraints.</p>

      <p>The answer is <i>yes</i>. Read more at <a href="https://github.com/fredriko/metacurate-lexicon">GitHub</a></p>
    </div>

{% endblock %}