<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>metacurate.io - lexicon</title>

    {% include 'html_dependencies.jinja2' %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="container">
  <a class="navbar-brand" href="/">metacurate lexicon</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/api/v1/">api <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">about</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/fredriko/metacurate-lexicon">source</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
<div class="container" style="padding-top: 30px">
    {% block content %}

    {% endblock %}
</div>
</body>
</html>