{% extends "base.jinja2" %}
{% block content %}
    <!-- Begin page content -->
    <main class="container" style="padding-top: 30px">
    <div class="jumbotron" style="background-color: #fff;">
      <h1 class="display-4">Technical term lexicon</h1>
      <p class="lead">Lookup similar terms in a pre-trained vector space.

      <form action="{{ url_for('lookup') }}" method="post">
        <div class="form-row align-items-center">
          <div class="col-auto">
            <input type="text" class="form-control mb-2" id="term" name="term">
          </div>
          <div class="col-auto">
            <button class="btn btn-info mb-2" type="submit">Lookup a term in the lexicon</button>
          </div>
        </div>
      </form>
    </div>
{% if error %}
  {{ error }}
{% else %}
  {% if data.lookup is not none %}
    Terms similar to <i>{{ data.lookup }}</i>
    <ol>
    {% for similarity in data.similarities %}
    <li>{{ similarity.term }}: {{ similarity.score }}</li>
    {% endfor %}
    </ol>
  {% endif %}
{% endif %}

{% endblock %}